extends ./layout/layout.pug
block socialMeta
  <!-- Search Engine -->
  <meta name="description" content="Cloud Drive - 前端修練精神時光屋2nd Week 8">
  <meta name="image" content="">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Cloud Drive - 前端修練精神時光屋2nd Week 8">
  <meta itemprop="description" content="Cloud Drive - 前端修練精神時光屋2nd Week 8">
  <meta itemprop="image" content="">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta property="og:title" content="Cloud Drive - 前端修練精神時光屋2nd Week 8">
  <meta property="og:description" content="Cloud Drive - 前端修練精神時光屋2nd Week 8">
  <meta property="og:site_name" content="Cloud Drive - 前端修練精神時光屋2nd Week 8">
  <meta property="og:locale" content="zh_TW">
  <meta property="og:type" content="website">
block css
  link(rel="shortcut icon", href="./image/cloudDrive/favicon/cloud.ico", type="image/x-icon")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css")
  link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
  link(rel="stylesheet", href="./css/cloudDrive.css")
  link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p", crossorigin="anonymous")
  link(rel="stylesheet", type="text/css", href="https://unpkg.com/vue-simple-context-menu/dist/vue-simple-context-menu.css")
block pageTitle
  title Cloud Drive - 前端修練精神時光屋2nd Week 8

block content
  #app
    .main_container
      aside.sidebar
        .logo_section
          span.logo_wrapper(@click="currentFolder=dataStorage.rootFolder")
            img(src='/image/cloudDrive/cloud.svg')
            span.logo_word MCloud.
        .upload_section
          button.upload_button(@click="sidebarDropdownVisible=!sidebarDropdownVisible" bind-el="sidebarDropdown")
            img(src='/image/cloudDrive/upload.svg')
            span 上傳檔案
          transition(name="dropdown")
            .upload_dropdown(v-click-outside="handleClickOutside" el-name="sidebarDropdown" v-if="sidebarDropdownVisible")
              ul
                li.list_item(@click="activeUploadInput()")
                  .icon
                  span 上傳檔案
                li.list_item(data-toggle="modal" data-target="#newFolderModal" @click="this.currentSection != 'root'?currentFolder = dataStorage.rootFolder:false")
                  .icon
                  span 新增資料夾
        input#upload_input(ref="fileInput" type="file" @change="uploadByInput").file_input
        #newFolderModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="newFolderModalLabel" aria-hidden="true")
          .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
              .modal-header
                h5#newFolderModalLabel.modal-title 建立資料夾
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-body
                input(v-model="newFolderName")
              .modal-footer
                button.btn.btn-secondary(type="button" data-dismiss="modal") 取消
                button.btn.btn-primary(type="button"  data-dismiss="modal" @click="createFolder(newFolderName)") 建立
        .file_list_section
          ul
            li.list_item(@click="currentFolder=dataStorage.rootFolder" :class="{selected:currentSection=='root'}")
              span.icon
                img(src='/image/cloudDrive/folder.svg')
              span 我的雲端硬碟
            li.list_item(@click="starPage" :class="{selected:currentSection=='star'}")
              span.icon
                img(src='/image/cloudDrive/star.svg')
              span 已加星號
            li.list_item(:class="{selected:currentSection=='share'}" disabled)
              span.icon
                img(src='/image/cloudDrive/sharing_content.svg')
              span 檔案共享
            li.list_item(@click="currentFolder=dataStorage.trash" :class="{selected:currentSection=='trash'}")
              span.icon
                img(src='/image/cloudDrive/trash.svg')
              span 垃圾桶 {{dataStorage.trash.fileList.length?`(${dataStorage.trash.fileList.length})`:''}}
        .user_section
          .user_pic
            .img_wrapper
              img(src='./image/cloudDrive/user.jpg')
          .user_info
            .user_name Jennifer
            .user_role User
        .drive_usage
          .progress
            .progress-bar(role="progressbar" :style="{width:`${this.storeUsagePercentage}%`}" :aria-valuenow="storage_usage" aria-valuemin="0" :aria-valuemax="storage_size")
          div.usage_info 
            span.emphasis 容量 {{storage_usage|sizeFormat}} 
            span / {{storage_size|sizeFormat}}
      main.main_page
        nav.navbar
          .search_bar
            button.search_button(disabled)
              img(src='/image/cloudDrive/search.svg')
            input(placeholder="搜尋您的檔案" v-model="searchInput").search_input
            .search_filter
        section.dir_section
          header.dir_header
            div.dir_nav
              template(v-for="(item,index) in displayfolderNav")
                template(v-if="Array.isArray(item)")
                  span.dir_link.more_collapse(@click="fileNavDropdownVisible=!fileNavDropdownVisible"  bind-el="fileNavDropdown") ⋯
                    transition(name="dropdown")
                      div.dropdown(v-click-outside="handleClickOutside" v-if="fileNavDropdownVisible" el-name="fileNavDropdown")
                        ul
                          li(v-for="subItem in item" :key="subItem.id"  @click="handleNavToFolder(subItem)").list_item {{subItem.name}}
                  i.fas.fa-angle-right.arrow
                template(v-else)
                  span(:key="'folder-nav'+item.id" @click="handleNavToFolder(item)").dir_link {{item.name}}
                  i.fas.fa-angle-right.arrow(v-if="index!=displayfolderNav.length-1")
          .table_wrapper.table_contextmenu(:class="{draggedBy:dragoverItem==currentFolder}" @contextmenu.prevent @dragover.prevent="dragOver(currentFolder)"  @dragleave.prevent="dragLeave" @drop.stop.prevent="drop($event,currentFolder)")
            table.file_table
              thead
                tr.header_row
                  each val in ['名稱', '上次修改','檔案大小', '擁有者']
                    th.header_col
                      div= val
                tr
                  td(colspan="100").bottom_line
              tbody
                tr.body_row.file_row(v-for="(item,key) in displayFileList" :key="key" @dblclick="handleListItemDblClick(item)" :class="{draggedBy:item==dragoverItem,isDragging:item==isDraggingItem,doc_type:item.fileType!='folder',folder_type:item.fileType=='folder',file_contextmenu:currentFolder.editable}" @dragover.prevent="item.fileType=='folder'?dragOver(item):false"  @dragleave.prevent="dragLeave" @drop.stop.prevent="item.fileType=='folder'?drop($event,item):false" draggable="true" @contextmenu.prevent="fileContextMenu(item)" @dragstart ="dragStart($event,item)" @dragend ="dragEnd($event,item)" :draggable="currentFolder.editable")
                  td.body_col
                    span.type_icon
                      img(:src='`./image/cloudDrive/file_type_icon/${item.fileType}_icon.png`'  draggable="false")
                    span {{item.name}}
                    span.star(@click="addStar(item)")
                      i.fas.fa-star(v-if="item.isStar")
                      i.far.fa-star(v-else)
                  td.body_col
                    span {{item.modifiedTime|timeFormat}}
                  td.body_col
                    span {{item.size|sizeFormat}}
                  td.body_col
                    span {{item.ownerId}}
    #deleteModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true")
          .modal-dialog.modal-dialog-centered(role="document")
            .modal-content
              .modal-header
                h5#deleteModalLabel.modal-title 刪除檔案
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden="true") &times;
              .modal-body
                span 將永久刪除檔案「{{rightClickItem?rightClickItem.name:''}}」，確定嗎？
              .modal-footer
                button.btn.btn-secondary(type="button" data-dismiss="modal") 取消
                button.btn.btn-danger(type="button"  data-dismiss="modal" @click="deleteFile()") 確定

      
block script
  if env === 'develop'
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  else
    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.11")
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")
  script(src="https://unpkg.com/vue-simple-context-menu/dist/vue-simple-context-menu.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js")
  script(src="./js/cloudDrive.js")