extends ./layout/layout.pug
block socialMeta
  <!-- Search Engine -->
  <meta name="description" content="Music Player - 前端修練精神時光屋2nd Week 3">
  <meta name="image" content="">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Music Player - 前端修練精神時光屋2nd Week 3">
  <meta itemprop="description" content="Music Player - 前端修練精神時光屋2nd Week 3">
  <meta itemprop="image" content="">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta property="og:title" content="Music Player - 前端修練精神時光屋2nd Week 3">
  <meta property="og:description" content="Music Player - 前端修練精神時光屋2nd Week 3">
  <meta property="og:site_name" content="Music Player - 前端修練精神時光屋2nd Week 3">
  <meta property="og:locale" content="zh_TW">
  <meta property="og:type" content="website">
block css
  link(rel="shortcut icon", href="./image/MusicPlayer/favicon/favicon.ico", type="image/x-icon")
  link(rel="stylesheet", href="./css/musicPlayer.css")
block pageTitle
  title Music Player - 前端修練精神時光屋2nd Week 3

block content
  #app
    #yt-iframe-player
    .outer-wrapper
      .sidebar(:class="{'hide':sidebarHide}")
        .search
        .playlist-cat-wrapper
          .playlist-cat
            .cat-title
              |播放列表
            .cat-list
              ul
                li(v-for="(item,key) in playList" @click="setCurrentPlaylist(key)")
                  span.title(@dblclick="playCurrentSong(item.song[0])") {{item.title}}
                  span(v-if="item==currentPlayList").mark
                    img( src="./image/MusicPlayer/playerUI/tra.svg" data-skip-inject-svg )
          .playlist-cat
            .cat-title
              |你的音樂庫
            .cat-list
              ul
                  li(@click="setCurrentPlaylist('favorite')")
                    span.title(@dblclick="playCurrentSong(favoritePlaylist.song[0])")
                      |我的最愛
                    span(v-if="favoritePlaylist==currentPlayList").mark
                      img( src="./image/MusicPlayer/playerUI/tra.svg" data-skip-inject-svg )
        .playlist
          .list-title {{currentPlayList.title}}
          .collapse-btn(@click="handleCollapse")
            span
              |List
            span.line
            span.line
            span.line
          .song-wrapper
            ul
              li(v-for="item in currentPlayListSong"  @dblclick="playCurrentSong(item)")
                .song-block
                  .left-block
                    .top-wrapper
                      span.title {{item.title}}
                      span.favorite-button(@click="addToFavorite(item)")
                        img( src="./image/MusicPlayer/playerUI/heart-empty.svg" data-skip-inject-svg v-if="!isListSongFavorite(item)")
                        img( src="./image/MusicPlayer/playerUI/heart-fill.svg" data-skip-inject-svg v-else)
                      span.play-button(@click="item == currentSong?handlePlayBtn():playCurrentSong(item)" :class="{playing:item == currentSong}" @mouseenter="listPauseHover=item" @mouseleave="listPauseHover=null")
                        img(src="./image/MusicPlayer/playerUI/sound.svg" data-skip-inject-svg v-if="item == currentSong&&listPauseHover!=item&&!isPause" )
                        img(src="./image/MusicPlayer/playerUI/pause2.svg" data-skip-inject-svg v-else-if="item == currentSong&&listPauseHover==item&&!isPause" )
                        img(src="./image/MusicPlayer/playerUI/play2.svg" data-skip-inject-svg v-else)
                    .artist {{item.artist}}
                    
                  .right-block
                    .album {{item.album}}
                    .duration {{item.duration|timeFormat}}
      .player-space
        .player#player
          .cd(:class="{rotating:cdRotate,pause:isPause,hide:!currentSong}")#cd
            //- .cd-disk
            span.center-hole
            span.rotating-line(:class="{rotating:cdRotate,pause:isPause}")
              span.line-group-one
                img(src="./image/MusicPlayer/playerUI/line.svg" data-skip-inject-svg)
              span.line-group-two
                img(src="./image/MusicPlayer/playerUI/line2.svg" data-skip-inject-svg).line-one
                img(src="./image/MusicPlayer/playerUI/line3.svg" data-skip-inject-svg).line-two
          .player-controls-top-right
            button.player-controls-button
              span.button-image-wrapper(@click="playPreviousSong")
                img(src="./image/MusicPlayer/playerUI/next.svg" data-skip-inject-svg )
            button.player-controls-button(@click="playNextSong")
              span.button-image-wrapper
                img(src="./image/MusicPlayer/playerUI/next.svg" data-skip-inject-svg )
          .player-controls
            .middle-wrapper
              span.info-section
                .top-wrapper
                  .title {{currentSong?currentSong.title:''}}
                  button.favorite-button(@click="addToFavorite(currentSong)"  v-if="currentSong")
                    img( src="./image/MusicPlayer/playerUI/heart-empty.svg" data-skip-inject-svg v-if="!isCurrentPlayFavorite")
                    img( src="./image/MusicPlayer/playerUI/heart-fill.svg" data-skip-inject-svg v-else)
                .artist {{currentSong?currentSong.artist:''}}
              span.volume-section
                .play-mode-wrapper
                  button.player-controls-button(@click="toggleRandomMode" :class="{'random-mode':randomMode}")
                    span.button-image-wrapper
                      img(src="./image/MusicPlayer/playerUI/mode-random.svg" data-skip-inject-svg )
                .volume-bar-wrapper
                  input(type="range" min="0" :max="100" v-model="volume" @input="setVolume").slide-bar
                  button.volume-button(@click="muteVolume")
                    img(src="./image/MusicPlayer/playerUI/sound.svg" data-skip-inject-svg )
                    span.mute(v-if="volume<1")
              .needle-wrapper
                button.play-button(@click="handlePlayBtn" :class="{disable:!currentSong}")
                  img(src="./image/MusicPlayer/playerUI/play.svg" data-skip-inject-svg v-if="isPause||isEnded||isCued||!currentSong")
                  img(src="./image/MusicPlayer/playerUI/pause.svg" data-skip-inject-svg v-else)
                img(:class="{playing:!isPause&&currentSong}" src="./image/MusicPlayer/playerUI/player.svg" data-skip-inject-svg).needle
            .progress-bar-wrapper
              span.currentTime {{currentTime|timeFormat}}
              .slide-bar-wrapper
                input(type="range" v-model="currentTime" min="0" :max="durationTime"  @input="changeCurrentTime" :disabled="durationTime==0").slide-bar
                span.loading-progress(:style="{width: loadingPercentage*100 +'%'}")
                span.play-progress(:style="{width: playPercentage*100 +'%'}")
              span.durationTime(v-if="durationTime>0") {{durationTime|timeFormat}}
              span.durationTime(v-else) {{''}}

block script
  if env === 'develop'
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
  else
    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.11")
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="./js/musicPlayer.js")